.container {
    padding: 2vh 5vw;
    width: 100vw;
    min-height: 100vh;
    background-color: #f5f5f5;
    box-sizing: border-box;
    
}

.section {
    margin-top: 3vh;
}

.title {
    font-weight: 600;
    font-size: 1.05rem;
    padding-bottom: 1vh;
    margin-top: 5vh;
    border-bottom: 0.5px solid #D9D9D9;
}

/* 봉사유형 */
.volunteerTypeBox {
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}

.typeCard {
    flex: 1;
    max-width: 70px;
    aspect-ratio: 1 / 1;
    background-color: #fff;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5vh;
    cursor: pointer;
}

.typeCard.selected {
    background-color: #ede9fe;
    border: none;
    color: #6D57DE;
}

.typeCard.selected span {
    color: #6D57DE;
}

.typeCard img {
    width: 28px;
    height: 28px;
}

.typeCard span {
    font-size: 0.85rem;
    color: #333;
}

/* 요일 선택 */
.dayBox {
    display: flex;
    justify-content: space-between;
    gap: 1vw;
}

.dayCircle {
    flex: 1;
    max-width: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 16px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    background-color: #ede9fe;
    color: #6D57DE;
}

.inactive {
    background-color: #dcdcdc;
    color: #333;
}

/* 시간 설정 */
.timeRow {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    padding: 1.8vh 4vw;
    margin-bottom: 1.2vh;
    gap: 3vw;
    border: 1px solid #f0f0f0;
}

.dayLabel {
    width: 34px;
    height: 34px;
    background-color: #ede9fe;
    color: #6D57DE;
    border-radius: 50%;
    text-align: center;
    line-height: 34px;
    font-weight: bold;
    font-size: 0.95rem;
}

.timeRow input[type="time"] {
    border: none;
    padding: 0.8vh 2vw;
    font-size: 1rem;
    border-radius: 8px;
    width: 100px;
}

.timeGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 6vw;
}

/* 시작시간 (회색 박스) */
.timeRow input[type="time"]:not(.endInput) {
    background-color: #e6e6e6;
    color: black;
    font-size: 0.7rem;
}



/* 완료 버튼 영역 */
.submitArea {
    display: flex;
    justify-content: end;
    width: 100%;
    margin-top: 4vh;
}

/* 완료 버튼 */
.submitBtn {
    width: 30%;
    padding: 1.5vh 3vw;
    background-color: #6D57DE;
    color: white;
    font-size: clamp(1rem, 2.5vw, 1.1rem);
    font-weight: bold;
    border: none;
    border-radius: 8px;
}