/* 전체 컨테이너 */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    padding: 2vh 5vw;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

.LogoImageWrapper {
    position: relative;
    margin-bottom: 5vh;
}

/* 프로필 이미지 스타일 */
.LogoImage {
}

/* 입력 그룹 전체 */
.inputGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin-bottom: 3vh;
}

/* 라벨 */
.inputGroup label {
    font-size: clamp(1rem, 2.5vw, 1.1rem);
    font-weight: 600;

}

/* 입력 필드 */
.inputGroup input {
    padding: 1.5vh 3vw;
    border: none;
    background-color: #EEEEEE;
    border-radius: 5px;
    font-size: clamp(0, 2.5vw, 1rem);
    margin-top: 1vh;
}

.inputGroup input::placeholder {
    color: #999;
}

/* 버튼 포함된 입력 필드 */
.inputWithButton {
    display: flex;
    gap: 2vw;
}

.inputWithButton input {
    flex: 7;
}

.checkBtn {
    padding: 1.5vh 3vw;
    background-color: #6D57DE;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: clamp(0.85rem, 2vw, 0.95rem);
    flex: 3;
    margin-top: 1vh;
}

/* 지역구 select 전용 스타일 */
.inputGroup select {
    padding: 1.4vh 2vw;
    border: none;
    background-color: #EEEEEE;
    border-radius: 5px;
    font-size: clamp(0.95rem, 2vw, 1rem);
    color: #333;
    margin-top: 1vh;
    width: 100%;
}

/* 생년월일 드롭다운 */
.dateSelect {
    display: flex;
    gap: 2vw;
}

.dateSelect select {
    flex: 1;
    padding: 1.4vh 2vw;
    border: none;
    background-color: #f3f3f3;
    border-radius: 5px;
    font-size: clamp(0.95rem, 2vw, 1rem);
    color: #333;
    margin-top: 1vh;
}


/* 자기소개 textarea 공통 스타일 (선택적 적용) */
.introduction {
    padding: 2vh 4vw;
    background-color: #EEEEEE;
    border: none;
    border-radius: 5px;
    font-size: clamp(0.95rem, 2vw, 1rem);
    resize: none;
    margin-top: 1vh;
    width: 100%;
    box-sizing: border-box;
}

/* 약관 동의 */
.agreement {
    margin-top: 3vh;
    width: 100%;
    max-width: 400px;
}

.termsList {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin-top: 1vh;
}

.termsList label {
    font-size: clamp(0.95rem, 2vw, 1rem);
}

/* 가입 버튼 */
.submitBtn {
    width: 100%;
    max-width: 400px;
    padding: 1.5vh 3vw;
    color: #999;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin: 3vh 0 3vh 0;
}


