/* 전체 폼 컨테이너 */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    padding: 2vh 5vw;
    box-sizing: border-box;
    background-color: #fff;
}

/* 프로필 이미지 감싸는 박스 */
.profileImageWrapper {
    position: relative;
    margin-bottom: 2vh;
}

/* 프로필 이미지 스타일 */
.profileImage {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

/* 이름, 나이, 성별, 번호, 지역 입력 그룹 */
.inputGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin-bottom: 3vh;
}

/* 입력 그룹 내 라벨 스타일 */
.inputGroup label {
    font-size: clamp(1rem, 2.5vw, 1.1rem);
    font-weight: 600;
}

/* 입력 필드 스타일 */
.inputGroup input {
    padding: 1.5vh 3vw;
    border: none;
    background-color: #EEEEEE;
    border-radius: 5px;
    font-size: clamp(0, 2.5vw, 1rem);
    margin-top: 1vh;
}

/* 비밀번호 변경 영역: input + 버튼 정렬 */
.passwordChange {
    display: flex;
    gap: 2vw;
    margin-top: 1vh;
}

/* 비밀번호 입력창 */
.passwordChange input {
    flex: 8;
    padding: 1.2vh 2vw;
    border: none;
    background-color: #f5f5f5;
    border-radius: 5px;
    font-size: clamp(0, 2.5vw, 1rem);
}

/* 완료 버튼 */
.passwordChange button {
    padding: 1.2vh 2vw;
    background-color: #6D57DE;
    color: #fff;
    border: none;
    border-radius: 5px;
    white-space: nowrap;
    flex: 2;
    margin-top: 1vh;
}

/* 수정하기 버튼 */
.submitBtn {
    width: 100%;
    max-width: 400px;
    padding: 1.8vh 0;
    background-color: #6D57DE;
    color: white;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin: 2vh 0 3vh 0;
}


.errorText {
    color: red;
    font-size: 0.9rem;
    margin-top: 0.5vh;
    display: block;
}
