.container {
    padding: 2vh 5vw;
    min-height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
}

/* 메인 카드 영역 wrapper */
.cardwrapper {
    padding: 0 6vw 0 6vw;
    margin-top: 3vh;
}

/* 채팅 카드 스타일 */
.chatCard {
    background-color: #ffe6ee;
    aspect-ratio: 1 / 1;
    padding: 5vw 5vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

/* 텍스트 섹션 스타일 */
.textSection {
    text-align: left;
    width: 100%;
}

/* 텍스트 섹션 제목 스타일 */
.textSection h2 {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
}

/* 텍스트 섹션 설명 스타일 */
.textSection p {
    margin: 0;
    font-size: 1rem;
    color: #333;
}

/* 이미지 wrapper 스타일 */
.imageWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}



/* 채팅 카드 오른쪽 이미지 스타일 */
.rightImg {
    width: 90px;
    height: auto;
    transform: translateY(30%);
}


/* 채팅 버튼 스타일 */
.chatBtn {
    background-color: #EB3C77;
    color: white;
    font-weight: bold;
    padding: 1.3vh 0;
    width: 100%;
    border: none;
    border-radius: 12px;
    font-size: 1.1rem;
}

/* 분석 카드 섹션 */
/* 전체 감정분석 카드 래퍼 */
.analysisSection {
    margin-top: 5vh;
}

.analysisTitle {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 1vh;
    padding-left: 1vw;
}

/* 감정 카드 전체 박스 */
.analysisCard {
    background-color: #e5e6fe;
    border-radius: 20px;
    padding: 3vh 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* 왼쪽 (날짜 + 차트) */
.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}

/* 날짜 텍스트 */
.analysisDate {
    font-size: 1rem;
    font-weight: bold;
    margin: 0 0 1vh 0 ;
}

/* 차트 크기 조절 */
.chartWrapper {
    width: 120px;
    height: 120px;
}

/* 오른쪽 감정 목록 */
.right {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    gap: 1.2vh;
    width: 45%;
}

/* 각 감정 항목 */
.right li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 감정 이름과 퍼센트 사이 정렬 */
.emotion {
    margin-left: 0.6vw;
    flex: 1;
}

.percent {
    font-weight: bold;
}

/* 색상 점 */
.colorDot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 0.6vw;
}

/* 색상 클래스들 */
.color0 {
    background-color: #5D47FF;
}

.color1 {
    background-color: #D9B2FF;
}

.color2 {
    background-color: #94C6FF;
}

.color3 {
    background-color: #FF6B91;
}

.color4 {
    background-color: #CFFF47;
}