.card {
    padding: 3vh 4vw;
    border-bottom: 1px solid #ddd;
}

/* 부모에서 .card가 여러 개일 때, 마지막 카드만 border-bottom 제거 */
.card:last-child {
    border-bottom: none;
}

.top {
    display: flex;
    align-items: center;
    gap: 3vw;
}

.icon {
    width: 40px;
    height: 40px;
}

.name {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 5px;
}

.name strong{

    font-size: 1.2;
}

.date {
    font-size: 0.85rem;
    color: #666;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    margin-top: 1.5vh;
}

.tag {
    background-color: #ede9fe;
    color: #333;
    padding: 0.6vh 2vw;
    border-radius: 20px;
    font-size: 0.85rem;
}
