
body {
    margin: 0;
    box-sizing: border-box;
    /* 다크모드 무시 */
    background-color: #fff;
    color: #000;         /* 검정 글씨 */
    color-scheme: light;  
}

div {
    box-sizing: border-box;
}


/* 오버 스크롤 방지 */
html,
body {
    overscroll-behavior: none;
}


/* 강조 테두리 제거 */
input:focus,
select:focus,
button:focus {
    outline: none;
    box-shadow: none;
}