body {
    margin: 0;
    box-sizing: border-box;
}

div {
    box-sizing: border-box;
}


/* 오버 스크롤 방지 */
html,
body {
    overscroll-behavior: none;
}


/* 강조 테두리 제거 */
input:focus,
select:focus,
button:focus {
    outline: none;
    box-shadow: none;
}


