.container {
    width: 100vw;
    height: 100vh;
    background-color: #6D57DE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logoBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 150px;
    height: auto;
    margin-bottom: 1.5vh;
}
